html{
    font-size: 16px;
}

body{
    margin-left:0;
    margin-right:0;
    margin-top: 72px;
    background-color:#888;
    font-family: 'East Sea Dokdo', cursive;
}

h4{
    font-family: 'East SeaDokdo', cursive;
    font-weight: 400;
    font-size: 2.125rem;
    letter-spacing: 0.25px;
}

h5{
    font-family: 'East SeaDokdo', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0;
    text-indent: 24px;
}

p{
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    color: #444;
}

.tab{
    text-indent: 48px;
}

.elevation{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

.nav-bar{
    background-color: black;
    color: #FFFFFF;
    position: fixed;
    top:0;
    z-index:4;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 72px;
    font-size: 1.5rem;
}

.nav-bar__brand{
    height:72px;
    display:flex;
    align-items:center;
    margin-left:24px;
    margin-right:auto;
    font-size: 3rem;
}

.nav-bar__tools{
    height:72px;
    margin-left: auto;
    margin-right:24px;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
}

.dropdown{
    overflow: hidden;
}

.dropdown__button{
    background-color: black;
    padding: 0 48px;
    color: white;
    min-height: 72px;
    cursor: pointer;
}

.nav-bar a:hover, .dropdown:hover .dropdown__button{
    background-color: #444;
}

.dropdown__content{
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
    overflow:hidden;
}

.dropdown__content a{
    color: white;
    padding: 12px 16px;
    display: block;
    text-align: left;
    overflow: hidden;
}

.dropdown-content a:hover{
    background-color: #444;
}

.dropdown__content.hidden{
    max-height: 0;
}

button{
    padding: 0px 12px;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 1.75rem;
    border: none;
}

a{
    padding: 0px 12px;
    color: white;
    text-decoration: none;
}

.content{
    background-color: #FFF;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding: 48px;
}

.hero{
    position:relative;
    height:600px;
    width:100%;
}

.hero__image{
    height:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

.hero__chalkboard{
    background-image: url("../images/chalkboard-band-name.jpg");
}

#dialog{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
}

#dialog.hidden{
    width: 0;
    opacity: 0;
}

#gallery{
    display: flex;
    flex-wrap: wrap;
}

.dialog__scrim{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.dialog__image{
    display:flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index:7;
}

.dialog__exit{
    position: absolute;
    z-index: 7;
    color: white;
    border-color: white;
    border: solid;
    cursor: pointer;
    right: 24px;
    top: 24px;
    padding: 12px;
}

.dialog__scroll-left{
    position:absolute;
    z-index: 7;
    left:24px;
    top:50%;
    color:white;
    font-size:3rem;
    cursor:pointer;
}

.dialog__scroll-right{
    position:absolute;
    z-index: 7;
    right:24px;
    top:50%;
    color:white;
    font-size:3rem;
    cursor:pointer;
}


.image__display{
    height: 50%;
    max-height: 50%;
    max-width: 80%;
    box-shadow: 0 10px 10px rgb(0,0,0,.5);
    border-radius: 4px;
}

.gallery-image-wrapper{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    cursor:pointer;
}

.gallery-image{
    position: absolute;
    top: 0%;
    left: -2%;
    height: 125%;
}

.gallery-click-right{
    animation-name:gallery-click-right;
    animation-duration:300ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}


.gallery-click-left{
    animation-name:gallery-click-left;
    animation-duration:300ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover{
    opacity: 0.7;
}

.fa-facebook{
    background: #3B5998;
    color: white;
}

.fa-instagram{
    background: #d6249f;
    background: radial-gradient(circle at 30% 100%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
}

.fa-youtube{
    background: #bb0000;
    color: white;
}

.fa-twitter{
    background: #55ACEE;
    color: white;
}

.transition{
    transition: all 300ms;
    -webkit-transform: all 300ms;
}

.transition-opacity{
    transition: opacity 300ms linear;
}