@media (max-width:600px){
    
    .content{
        margin-left: auto;
        margin-right: auto;
    }

    img{
        max-width: 90%;
    }

    .nav-bar__brand{
        font-size: 2rem;
    }

    .dropdown__button{
        padding: 0 8px;
    }

    .nav-bar__tools, button{
        font-size:1rem;
    }
}